@using PcPartPicker2.Common
@using PcPartPicker2.Web.ViewModels.Index
@model IndexVIewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<head>

</head>
<body>
    <div class="row">
        @foreach (var build in this.Model.Builds)
        {
            <div class="col-md-4 card" style="width: 18rem;">
                <img class="card-img-top" src="maxresdefault.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@build.Name</h5>
                    <p class="card-text">@build.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Amd</li>
                    <li class="list-group-item">Nvidia</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        }
    </div>
    <h3>Blog</h3>
    <hr />
    <div class="row">
        @foreach (var blog in this.Model.Blogs)
        {
            <div class="col-md-4 card" style="width: 18rem;">
                <img class="card-img-top" src="maxresdefault.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@blog.Title</h5>
                    <p class="card-text">@blog.Description</p>
                </div>
            </div>
        }
    </div>
</body>